@font-face {
    font-family: 'Heebo';
    src: url('/src/assets/fonts/HeeboRegular400.woff2')  format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'Heebo';
    src: url('/src/assets/fonts/HeeboMedium500.woff2')  format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: 'Heebo';
    src: url('/src/assets/fonts/HeeboBold700.woff2')  format("woff2");
    font-weight: 700;
}


