.RecentPosts{
  padding: 25px 0;
  background-color: #EDF7FA;

  .upperBlock{
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
    .heading{

      font-weight: 400;
      font-size: 22px;

      color: #21243D;

    }

    .link{
      font-size: 16px;

      color: #00A8CC;

    }
  }

  .postsBlock{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;

  }
}