.Footer{
  padding: 50px 0;

  .icons {
    display: flex;
    width: 232px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

  }

  .copyright{
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #21243D;
    margin-top: 26px;


  }
}


